<!--
    https://developer.android.com/guide/topics/manifest/manifest-intro
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <application
            android:icon="@drawable/icon"
            android:label="Capybara"
            android:appCategory="game"
    >
        <activity
                android:exported="true"
                android:name=".MainActivity"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
          https://developer.android.com/about/versions/16/behavior-changes-16?hl=en&utm_source=chatgpt.com#exceptions
        -->
        <activity android:exported="false"
                  android:screenOrientation="landscape"
                  android:name=".twod.TwoDActivity"
                  tools:ignore="DiscouragedApi"
        />
        <activity android:exported="false"
                  android:name=".coordinates.CoordinatesActivity"
        />
    </application>
</manifest>