<!--
    https://developer.android.com/guide/topics/manifest/manifest-intro
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
            android:icon="@drawable/icon"
            android:label="Capybara"
    >
        <activity
                android:exported="true"
                android:name=".MainActivity"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:exported="false" android:name=".two_dimensional.TwoDActivity" />
    </application>
</manifest>